* {
    font-family: sans-serif;
}
#wrapper {
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    overflow:visible;
}
#container {
    float: left;
    height: 800px;
    width: 600px;
    margin: 0;
}
#info {
    float: left;
    width: 400px;
    padding-left: 20px;
    margin: 100px 0 0 0;
    border-left: 1px solid silver;
}
#info h2 {
    display: inline;
    font-size: 13pt;
}
#info h4 {
    margin: 1em 0 0 0;
}
#info2 {
    float: left;
    width: 400px;
    padding-left: 20px;
    margin: 100px 0 0 0;
    border-left: 1px solid silver;
}
#info2 h2 {
    display: inline;
    font-size: 13pt;
}

#info2 h4 {
    margin: 1em 0 0 0;
}
@media screen and (max-width: 920px) {
    #wrapper, #container,  #info {
        float: none;
        width: 100%;
        height: auto;
        margin: 0.5em 0;
        padding: 0;
        border: none;
    }
} ?>